.picapp-gallery-wrap {
}
	.picapp-gallery-wrap .picapp-gallery-title {
		border-bottom:2px dotted #EEA30D;	
		margin-bottom:1em;
		text-align:left;
	}

	.picapp-gallery-wrap .powered-by-picapp a,
	.picapp-gallery-wrap .powered-by-picapp {
		color:#eea30d;
	}

#tinyclose {
	border:2px solid #e3e3d3;
	clear:both;
	float:right;
	font-family:sans-serif;
	font-size:13px;
	font-weight:bold;
	height:20px;
	line-height:20px;
	text-align:center;
	width:20px;
	
	cursor:pointer;
	cursor:hand;
}


#tinybox {position:absolute; display:none; padding:10px; background:#fff url('../images/ajax-loader.gif') no-repeat 50% 50%; border:10px solid #e3e3e3; z-index:2000}
#tinymask {position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#000; z-index:1500}
#tinycontent {background:#fff}

